/* * {
border: 1px solid
} */

body{
  margin: 0 auto;
  margin-left: 300px;
  width: 70vw;
  height: 100vh;
  background-image: url("./assets/music_notes.png");
  background-repeat: no-repeat;

  background-position-x: center;
  background-position-y:center;
    background-color: rgb(131, 236, 25); /* red tint with transparency */
  background-blend-mode: multiply;
}


h1{
  margin-top: 60px;
  padding: 20px;
  color:  rgb(233, 217, 217);
  font-size: 3rem;
}

p{
  color: azure;
  font-size: 2rem;
  padding: 20px;
}

form p, .submitted-box p:nth-child(1) {
color: rgb(211, 204, 218);
background-color: rgb(54, 51, 48);
border-radius: 10px;
margin-top: 20px;
margin-bottom: 100px;
}

.submitted-box p:not(:first-of-type){
  margin: -30px;
}

.field{
  display: flex;
  margin:20px auto;
  justify-content: space-between;
 
  max-width: 600px;

}
input {
  padding: 10px;
  border-radius: 10px;
  font-size: 1.2rem;
  width:300px;
}
.lbl {
  margin-top: 30px;
  font-weight: 600;
  font-size: 2.2rem;
  color: rgb(211, 204, 218);
}

button {
  width: 120px;
  padding: 15px;
  margin-top: 20px;
  background-color: rgb(174, 243, 14);
  border-radius: 10px;
  font-size: 1.2rem;
  margin-top: 50px;
  font-weight: 600;
}
button:hover{
  background-color: rgb(119, 216, 119);
}

.newBtn{
  width: 300px;

}
.container {
  margin: 0 auto;
}

.error-msg{
  background-color: #cea4a4;
  color: #b91c1c;
  border: 1px solid #ef4444;
  padding: 10px;
  border-radius: 6px;
  margin: 2rem auto;
  width: 400px;
  
}

.top-bar {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 20=20px;
  top: 10px;
  justify-content: center;
  margin: 1rem 0;
}

.top-bar button {
  padding: 0.7rem 1.2rem;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #dd3a08;
  color:  rgb(233, 217, 217);
  min-width: 200px;
  min-height: 60px;
}

.login {
  margin: auto;
  display: flex;
  justify-content: space-between;
 
  margin-bottom: 20px;
  max-width: 600px;
}


table {
  margin: 250px auto;
}
th{
  font-size: 2rem;
  color: rgb(211, 204, 218);
  background-color: rgb(40, 121, 121);

}

tr {
  background-color: rgba(142, 142, 184, 0.8);
}

tr:nth-child(even){
  background-color: rgb(95, 173, 95);
}

td {
color: rgb(211, 204, 218);
font-size: 1.5rem;
/* background-color: rgb(165, 98, 98); */
padding: 20px;
width: 250px;
}

td.index, th.index{
  width: 40px;
}

#cancel-btn button{
  margin: 0;
  background-color: #dd3a08;
}
#cancel-btn{
  display: flex;
align-items: center;
  justify-content: center;
}

tr.cancelled {
  background-color: red;
}